.feedback-list {
  display: flex;
  align-items: stretch;
  gap: 15px;
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__photo-wrap {
    margin: 0 auto;

    max-width: 41.5%;
  }
  &__photo {
    position: relative;
    margin-bottom: -53%;

    height: auto;

    max-height: none;
    z-index: 1;
  }
  &__wrap {
    width: 100%;
    height: 100%;
    padding: 110px 30px 30px 30px;
    background: linear-gradient(180deg, #af7e87 0%, rgba(255, 255, 255, 0) 75%);
    border-radius: 38px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__name {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    /* identical to box height, or 21px */

    text-align: center;
    letter-spacing: 0.255em;

    color: $text-color;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 117%;
    /* or 19px */

    text-align: center;

    color: $text-color;
  }
}
